/.vs/*
/Certs/*
/Source/.vs/*
/Source/BlackSpiritHelper*/.vs/*
/Source/BlackSpiritHelper*/bin/*
/Source/BlackSpiritHelper*/obj/*
/Source/BlackSpiritHelper*/Debug/*
/Source/BlackSpiritHelper*/*.pfx

!/Release/
