/.vs/*

/Certs/*
/Production/BlackSpiritHelper*/.vs/*
/Production/BlackSpiritHelper*/bin/*
/Production/BlackSpiritHelper*/obj/*
/Production/BlackSpiritHelper*/Debug/*
/Production/BlackSpiritHelper*/*.pfx
