<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <BlackSpiritHelper.Core.Properties.Settings>
      <setting name="TimerData" serializeAs="Xml">
        <value>
          <TimerDataViewModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <GroupList>
              <TimerGroupDataViewModel>
                <ID>0</ID>
                <Title>4 Food Rotation</Title>
                <TimerList>
                  <TimerItemDataViewModel>
                    <GroupID>0</GroupID>
                    <Title>1 Combat Rations</Title>
                    <IconTitleShortcut>C</IconTitleShortcut>
                    <IconBackgroundHEX>0F9BEB</IconBackgroundHEX>
                    <TimeDurationTicks>72000000000</TimeDurationTicks>
                    <TimeLeftTicks>72000000000</TimeLeftTicks>
                    <CountdownDurationTicks>0</CountdownDurationTicks>
                    <CountdownLeftTicks>0</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>true</IsLoopActive>
                    <ShowInOverlay>true</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                  <TimerItemDataViewModel>
                    <GroupID>0</GroupID>
                    <Title>2 Kamasylvia Meal</Title>
                    <IconTitleShortcut>K</IconTitleShortcut>
                    <IconBackgroundHEX>27B012</IconBackgroundHEX>
                    <TimeDurationTicks>72000000000</TimeDurationTicks>
                    <TimeLeftTicks>72000000000</TimeLeftTicks>
                    <CountdownDurationTicks>18000000000</CountdownDurationTicks>
                    <CountdownLeftTicks>18000000000</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>true</IsLoopActive>
                    <ShowInOverlay>true</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                  <TimerItemDataViewModel>
                    <GroupID>0</GroupID>
                    <Title>3 King of Jungle Ham</Title>
                    <IconTitleShortcut>H</IconTitleShortcut>
                    <IconBackgroundHEX>FF8311</IconBackgroundHEX>
                    <TimeDurationTicks>72000000000</TimeDurationTicks>
                    <TimeLeftTicks>72000000000</TimeLeftTicks>
                    <CountdownDurationTicks>36000000000</CountdownDurationTicks>
                    <CountdownLeftTicks>36000000000</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>true</IsLoopActive>
                    <ShowInOverlay>true</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                  <TimerItemDataViewModel>
                    <GroupID>0</GroupID>
                    <Title>4 Valencia Meal</Title>
                    <IconTitleShortcut>V</IconTitleShortcut>
                    <IconBackgroundHEX>F0D422</IconBackgroundHEX>
                    <TimeDurationTicks>72000000000</TimeDurationTicks>
                    <TimeLeftTicks>72000000000</TimeLeftTicks>
                    <CountdownDurationTicks>54000000000</CountdownDurationTicks>
                    <CountdownLeftTicks>54000000000</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>true</IsLoopActive>
                    <ShowInOverlay>true</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                </TimerList>
              </TimerGroupDataViewModel>
              <TimerGroupDataViewModel>
                <ID>1</ID>
                <Title>Combat</Title>
                <TimerList>
                  <TimerItemDataViewModel>
                    <GroupID>1</GroupID>
                    <Title>Draught</Title>
                    <IconTitleShortcut>D</IconTitleShortcut>
                    <IconBackgroundHEX>AD006C</IconBackgroundHEX>
                    <TimeDurationTicks>9000000000</TimeDurationTicks>
                    <TimeLeftTicks>9000000000</TimeLeftTicks>
                    <CountdownDurationTicks>50000000</CountdownDurationTicks>
                    <CountdownLeftTicks>50000000</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>true</IsLoopActive>
                    <ShowInOverlay>true</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                  <TimerItemDataViewModel>
                    <GroupID>1</GroupID>
                    <Title>Villa Buff</Title>
                    <IconTitleShortcut>VB</IconTitleShortcut>
                    <IconBackgroundHEX>D4B182</IconBackgroundHEX>
                    <TimeDurationTicks>54000000000</TimeDurationTicks>
                    <TimeLeftTicks>54000000000</TimeLeftTicks>
                    <CountdownDurationTicks>50000000</CountdownDurationTicks>
                    <CountdownLeftTicks>50000000</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>true</IsLoopActive>
                    <ShowInOverlay>true</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                </TimerList>
              </TimerGroupDataViewModel>
              <TimerGroupDataViewModel>
                <ID>2</ID>
                <Title>LifeSkill</Title>
                <TimerList>
                  <TimerItemDataViewModel>
                    <GroupID>2</GroupID>
                    <Title>Cooking</Title>
                    <IconTitleShortcut>C</IconTitleShortcut>
                    <IconBackgroundHEX>E61010</IconBackgroundHEX>
                    <TimeDurationTicks>9000000000</TimeDurationTicks>
                    <TimeLeftTicks>9000000000</TimeLeftTicks>
                    <CountdownDurationTicks>50000000</CountdownDurationTicks>
                    <CountdownLeftTicks>50000000</CountdownLeftTicks>
                    <State>Ready</State>
                    <IsLoopActive>false</IsLoopActive>
                    <ShowInOverlay>false</ShowInOverlay>
                    <IsInCountdown>false</IsInCountdown>
                  </TimerItemDataViewModel>
                </TimerList>
              </TimerGroupDataViewModel>
            </GroupList>
            <TimerNotificationTime1>50</TimerNotificationTime1>
            <TimerNotificationTime2>15</TimerNotificationTime2>
          </TimerDataViewModel>
        </value>
      </setting>
      <setting name="PreferencesData" serializeAs="Xml">
        <value>
          <PreferencesDataViewModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <RunOnStartup>true</RunOnStartup>
            <StartInTray>false</StartInTray>
            <Volume>0.5</Volume>
            <Connection>
              <ActiveMethodIdentifier>None</ActiveMethodIdentifier>
              <MethodDiscord>
                <Webhook />
                <UserID />
              </MethodDiscord>
            </Connection>
            <AudioAlertType>Standard</AudioAlertType>
          </PreferencesDataViewModel>
        </value>
      </setting>
      <setting name="ApplicationCookies" serializeAs="Xml">
        <value>
          <ApplicationCookies xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <LastOpenedPage>0</LastOpenedPage>
            <ForceToRunAsAdministrator>true</ForceToRunAsAdministrator>
            <MainWindowSize>
              <X>1084</X>
              <Y>721</Y>
            </MainWindowSize>
            <PendingMessageList />
          </ApplicationCookies>
        </value>
      </setting>
      <setting name="OverlayData" serializeAs="Xml">
        <value>
          <OverlayDataViewModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <AllowOpenOnStart>true</AllowOpenOnStart>
            <OpenOnStart>false</OpenOnStart>
            <PosX>0</PosX>
            <PosY>0</PosY>
            <IsDraggingLocked>false</IsDraggingLocked>
            <OverlayOrientation>Horizontal</OverlayOrientation>
            <OverlaySize>Normal</OverlaySize>
          </OverlayDataViewModel>
        </value>
      </setting>
      <setting name="ScheduleData" serializeAs="Xml">
        <value>
          <ScheduleDataViewModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <SelectedTemplateTitle>BDO-EU</SelectedTemplateTitle>
            <TemplateCustomList />
            <ItemCustomList />
            <ItemIgnoredList />
            <LocalTimeOffsetModifierTicks>0</LocalTimeOffsetModifierTicks>
            <RunOnLoad>false</RunOnLoad>
            <TimerNotificationTime1>3600</TimerNotificationTime1>
            <TimerNotificationTime2>60</TimerNotificationTime2>
            <ShowInOverlay>true</ShowInOverlay>
          </ScheduleDataViewModel>
        </value>
      </setting>
      <setting name="WatchdogData" serializeAs="Xml">
        <value>
          <WatchdogDataViewModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ConnectionWatcher>
              <IntervalTimeTicks>6000000000</IntervalTimeTicks>
              <RunOnApplicationStart>false</RunOnApplicationStart>
              <FailureRoutine>
                <IsComputerActionSelected>false</IsComputerActionSelected>
                <ComputerAction>LogOff</ComputerAction>
                <IsSendMessageSelected>false</IsSendMessageSelected>
                <IsSoundAlertSelected>true</IsSoundAlertSelected>
              </FailureRoutine>
              <InternetConnection>
                <IsSelected>false</IsSelected>
                <PingTimeout>1250</PingTimeout>
                <ClientTimeout>5000</ClientTimeout>
                <MultiCheck>2</MultiCheck>
              </InternetConnection>
              <ProcessConnection>
                <IsSelected>true</IsSelected>
                <ProcessList>
                  <WatchdogProcessDataViewModel>
                    <Name>BlackDesert64</Name>
                    <KillOnFailure>true</KillOnFailure>
                  </WatchdogProcessDataViewModel>
                </ProcessList>
              </ProcessConnection>
            </ConnectionWatcher>
          </WatchdogDataViewModel>
        </value>
      </setting>
    </BlackSpiritHelper.Core.Properties.Settings>
  </userSettings>
</configuration>